<form class="form" [formGroup]="userForm">
    <div class="header mb-4">
        <span class="header__number">1</span>
        <h2>  1.Особисті дані</h2>
    </div>

    <div class="form-group-half">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>*Ваше І'мя</mat-label>
            <input formControlName="firstName"
                   matInput type="text">
        </mat-form-field>
    </div>
    <div class="form-group-half">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>*Ваша фамілія</mat-label>
            <input formControlName="lastName"
                   matInput type="text">
        </mat-form-field>
    </div>

<!--    <div class="form-group" >-->
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Ваш телефон</mat-label>
            <input  matInput formControlName="phoneNumber">
<!--            <mat-icon matSuffix><span class="material-symbols-outlined">edit</span></mat-icon>-->
        </mat-form-field>
<!--    </div>-->

    <div class="form-group"  >
        <mat-form-field appearance="outline" color="primary">
            <mat-label>*Ваш email</mat-label>
            <input formControlName="email"
                   matInput type="email">
        </mat-form-field>
    </div>

    <div class="header">
        <span class="header__number">2</span>
        <h2>Адреси</h2>
    </div>
    @if (isAddress){
        <div class="form-group">
            <mat-form-field appearance="outline" color="primary">
                <mat-label>*Ваша Адреса</mat-label>
                <input formControlName="address"
                     matInput type="text">
            </mat-form-field>
        </div>
    }


    <div class="form-group-half">
        <button class="addAddress" (click)="isAddress=!isAddress ">Додати адресу</button>
    </div>
    <div class="form-group-half">
        <button class="saveAddress" (click)="updateUserData()">Зберегти зміни</button>
    </div>

</form>
