@import '../../shared/styles/variables';

.btnAddCategoryForm {
    width: 198px;
    height: 40px;
    background-color: $primary;
    border-radius: 5px;
    border: $border;
}

tr th {
    border-bottom: $border
}

.btnEdDel:hover {
    text-decoration: underline;
}

