<div class="container my-4 mb-3">
    <div class="card-body">
        <h1 class="text-center title">АКЦІЇ</h1>
    </div>
    <div class="row">
        @for( discount of userDiscounts;track $index)
        {
        <div class="col-6 mt-3">
            <div class="card w-100">
                <img [src]="discount.imagePath" class="card-img-top " alt="...">
                <h5 class="text-center fs-3 mt-3 fw-bolder">{{discount.name}}</h5>
                <hr>
                <button class="btn-info text-center" [routerLink]="[ '/discount', discount.id ]">
                    Дізнатись більше
                </button>
            </div>
        </div>
        }
    </div>
</div>