<div class="container mt-3 mb-3">
    <div class="row">
        @if(userDiscounts.length > 0){
        @for( discount of userDiscounts;track $index)
        {
        <div class="col-6 mt-3">
            <div class="card w-100">
                <img [src]="discount.imagePath" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a class="btn btn-warning">Детальніше</a>
                </div>
            </div>
        </div>
        }
        }
        @if(userDiscounts.length === 0){
       <div class="card-body">
            <b>
                <h1 class="text-center">АКЦІЇ</h1>
            </b>
        </div>
        }
    </div>
</div>