@import "../../shared/styles/_base.scss";
@import "../../shared/styles/_mixins.scss";
@import "../../shared/styles/_variables.scss";

.form{
  @include box(100%, 100%);
  @include flex-row(flex, column, space-around, center);
  padding-top: 80px;
}
.closeForm{
  position: absolute;
  top: 0;
  right: 0;
}