@import "../styles/mixins";
$primary: #b5d8f7;
$text_main: #252525;
$secondary_text: #5a5a5a;
$main_font: 'RotondaC';
$main_font_Bold: 'RotondaC_Bold';
$border: 2px solid #b5d8f7;


$body: rgb(242, 246, 250);
$white: rgb(255, 255, 255);
$mainCol: #91c4f0;
$scroll: #dae8f5;
$lightText: #707070;
$lightBorder: #bdbbbb;
$lighterBorder: #d6d1d1a9;
$darkText: #252525;
$darkShadow: #0303036b;
$greenText: #27ae60;
$yellowText: #f2c94c;
$redCol: #eb2020;
%logoHeader {
    border-top: 7px solid $primary;
    margin: 50px auto 20px;
    font-size: 40px;
    font-weight: bolder;
    padding: 10px 5px;
    text-align: center;
}
%btnBlue {
    cursor: pointer;
    border-radius: 5px;
    margin: 25px;
    border: 4px solid $mainCol;
    background-color: $mainCol;
    font-size: 25px;
    font-weight: bolder;
    color: $darkText;

    &:hover {
        background-color: $body;
        color: $lightText;
    }
}
%btn__admin {
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: 3px solid $mainCol;
    border-radius: 5px;
    background-color: $body;
    font-size: 18px;
    font-weight: bold;
    color: $darkText;
    &:hover {
        background-color: $mainCol;
    }
    @include respond(tablet) {
        width: 200px;
        height: 40px;
        font-size: 16px;
    }
    @include respond(mobile) {
        width: 140px;
        height: 30px;
        font-size: 14px;
    }
}