@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';


* {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;

}

.basket-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 700px;
    background-color: white;
    max-height: calc(100vh - 95px);
    .basket-modal-wrapper {
        position: absolute;
        right: 0;
        width: 650px;
        max-height: calc(100vh - 95px);
        top: 103px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        font-family: $main_font;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;

        .cart-product {
            border-top: 1px solid rgb(222, 226, 230);
            border-bottom: 1px solid rgb(222, 226, 230);
        }


    .basket-empty-img {
        width: 150px;
        height: 120px;
        object-fit: contain;
        cursor: pointer;
        transition: filter 0.3s;
        &:hover {
            filter: opacity(70%);
        }
    }


        .title-basket {
            width: 200px;
            cursor: pointer;

            .title {
                text-decoration: none;
                color: black;
                transition: .35s;

                &:hover {
                    color: $primary;
                }
            }
        }
.img{
    max-width: 95px;
   height: 80px;
    object-fit: contain;
}
        .btn-group {
            height: 40px;
            width: 100px;
            border: 2px solid #b5d8f7;

            .decrement,
            .increment {
                border-radius: 4px;
                background-color: transparent;

                &:hover {
                    background-color: $primary;
                }
            }
        }

        .remove-product {
            margin-top: 28px;
            width: 40px;
        }

        #cart-submit,
        .btn {
            background-color: $primary;
            cursor: pointer;
        }

    }
}

